body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Questrial', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
